{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block title %} Koszyk na zakupy {% endblock %}

{% block content %}

<div class="container-xl mx-auto py-5">

<h1>Twój koszyk</h1>
<table class="table table-hover m-5">
    <thead>
        <tr>
            <th>Obraz</th>
            <th>Produkt</th>
            <th>Ilość</th>
            <th>Usuń</th>
            <th>Cena</th>
            <th>Razem</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img style="width: 10rem;" src="{{ product.image.url }}" alt="{{ product.name }}" width="100" height="100">
                    </a>
                </td>
                <td class="align-middle">
                    <a class="text-decoration-none" href="{{ product.get_absolute_url }}">
                        {{ product.name }}
                    </a>
                </td>
                <td class="align-middle">
                  <form  action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <input class="btn btn-primary mx-4" type="submit" value="Uaktualnij">
                    {% csrf_token %}
                  </form>
                </td>
                <td class="align-middle">
                  <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                    <input class="btn btn-danger" type="submit" value="Usuń">
                    {% csrf_token %}
                  </form>
                </td>

                <td class="align-middle">
                    {{ item.price }} PLN
                </td>
                <td class="align-middle">
                    {{ item.total_price }} PLN
                </td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td colspan="5">
                <strong>Razem:</strong>
            </td>
            <td>
                <strong>{{ cart.get_total_price }} PLN</strong>
            </td>
        </tr>
    </tbody>
</table>




<a href="{% url 'shop:product_list' %}">
    <button class="btn btn-primary mx-4">Kontynuuj zakupy</button>
</a>


<a href="{% url 'orders:order_create' %}" class="btn cButton">Do kasy</a>

</div>

{% endblock %}