{% extends "base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Produkty{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    

    <div  style="width: 640px;" class="card my-5  mx-auto shadow-lg mw-100">
      <div class="card-header">
        <h5 class="card-title"><a class="btn cButtonLink mt-2" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h5>
      </div>
      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
      <div class="card-body">
        <h5 class="card-title h3">{{ product.name }}</h5>
        <h5 class="card-title h5">Cena brutto: {{ product.gross_price }} PLN</h5>
        <p class="card-text">{{ product.price }} PLN netto</p>
        <p class="card-text">
          {{ product.describe }}          
        </p>
      </div>
      <div class="card-footer">
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
        <input type="submit" class="btn cButton m-2" value="Dodaj do koszyka" >
        </form>
      </div>
    </div>


</div>


{% endblock %}

















