:root {
    --cBlue: #D4F7EC;
    --cGreen: #448D76;
    --cPink: #AF0D7C;
    --cPinkDark: #830a5d;
    --cPinkLight: #d694c1;
    --cYellow: #FDBA12;
    --cViolet: #631549;
    --cVioletDark: #4b0633;
    --cVioletLight: #d3a2c3;
  }
  
html {
    font-size: 0.8rem;
}

  .errorlist {
    color: red;
}


.cGreen {
    background-color: var(--cGreen);
}

.cButtonLink {
    background-color: var(--cBlue);
    color: var(--cPink);    
    border: 1px solid #AF0D7C;
    transition: all 0.2s ease-out;
}

.cButtonLink:hover {
    background-color: var(--cVioletDark);
    color: white;
    cursor: pointer;
}

.cActive {
    background-color: var(--cVioletDark);
    color: var(--cVioletLight); 
    cursor: not-allowed;
}

.cActive:hover {
    background-color: var(--cVioletDark);
    color: var(--cVioletLight);
    cursor: not-allowed;
}


.cButton {
    background-color: var(--cPink);
    color: white;
}

.cButton:hover {
    background-color: var(--cPinkDark);  
    color: var(--cPinkLight);  
    cursor: pointer;
}

.cCard {
    transition: all 0.2s ease-out;
}

.cCard:hover {
    box-shadow: 3px 2px 2px gray;    
}