{% extends "base.html" %}
{% block title %}Panel główny{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="h1">Panel główny</h1>
        <p class="h5">Witaj w panelu głównym.</p>


        <p>Nazwa użytkownika: {{ request.user.username }}</p>
        <p>Adres e-mail: {{ request.user.email }}</p>
        <p>Data utworzenia konta: {{ request.user.date_joined }}</p>
        <p>Ostatnie logowanie: {{ request.user.last_login }}</p>
        <h5>Dane do faktury</h5>
        <p>Nazwa: {{ request.user.profile.nazwa_firmy }}</p>
        <p>Adres: {{request.user.profile.adres}}</p>
        <p>Kod pocztowy: {{ request.user.profile.kod_pocztowy }}</p>
        <p>Miasto: {{ request.user.profile.miasto }}</p>
        <p>NIP: {{ request.user.profile.NIP }}</p>
        <p>Telefon: {{ request.user.profile.telefon }}</p>


        <p>Właściciel konta: {{ request.user.get_full_name }}</p>

        <p><a href="{% url 'edit' %}">Edytuj dane</a></p>
        <p><a href="{% url 'logout' %}">Wyloguj się</a></p>
        <p><a href="{% url 'password_change' %}">Zmień hasło</a></p>
    </div>

{% endblock %}