{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h1 text-primary">Zmiana hasła</h1>
        <form action="." method="post">
        <!--{{ form.as_p }} -->
        <label class="form-label">{{ form.old_password.label_tag }}</label>
        {% render_field form.old_password class="form-control" %}
        <label class="form-label">{{ form.new_password1.label_tag }}</label>
        <p class="text-danger">{{ form.new_password1.errors }}</p>
        <p class="text-success">{{ form.new_password1.help_text }}</p>
        {% render_field form.new_password1 class="form-control" %}
        <label class="form-label">{{ form.new_password2.label_tag }}</label>
        <p class="text-danger">{{ form.new_password2.errors }}</p>
        <p class="text-success"> {{ form.new_password2.help_text }}</p>
        {% render_field form.new_password2 class="form-control" %}
        <p><input type="submit" value="Zmień" class="btn btn-warning mt-4"></p>
        {% csrf_token %}
    </form>
    </div>
{% endblock %}