{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

   <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>


<div class="container-fluid bg-light mx-auto pb-4">
<nav class="navbar navbar-expand-xl navbar-dark fixed-top shadow-sm cGreen ">
      <div class="container">
        <a href="#" class="navbar-brand">
            <img src="{% static 'images/logo_biale.png' %}" alt="Logo" width="160" height="70">
        </a>
        <button
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          class="navbar-toggler"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#"  class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">O nas</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Przesuwne</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Kontakt</a>
            </li>
              <li class="nav-item">
              <a href="#" class="nav-link">Kalkulator</a>
            </li>
              <li class="nav-item">
              <a href="#" class="nav-link">Sklep</a>
            </li>
              <li class="nav-item mt-1">
              <a href="{% url 'cart:cart_detail' %}" class="btn btn-outline-light btn-sm ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
                  <!-- <span >8 </span> -->
                  {% with total_items=cart|length %}
                  {% if total_items > 0 %}
                  <span class="badge bg-danger">{{ total_items }}</span>
                  {% else %}
                  <span class="badge bg-danger">0</span>
                  {% endif %}
                  {% endwith %}
              </a>
            </li>
              <li class="nav-item ms-5">
                <form class="d-flex" role="search">
                    <input type="text" class="form-control me-2" placeholder="Szukaj na stronie ..."/>
                    <button class="btn btn-warning">Search</button>
                </form>
              </li>
              {% if request.user.is_authenticated %}

              <li class="dropdown ms-4">
                     <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">{{request.user.username}}</button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'dashboard' %}" class="dropdown-item">Panel</a></li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item">Wyloguj</a></li>
                    </ul>
              </li>

              {% else %}
                  <li class="nav-item ms-5">
                   <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Zaloguj</button></a>
                  </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="mt-5 mb-5 ">-</div>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>